.faq-main--third {
  padding: 5rem 2.5rem;
}

.faq-main--third .faq-accordions {
  display: flex;
  
  /* row-gap: 1.675rem; */
  column-gap: 1.5rem;
  /* display: flex; */
  /* flex-wrap: wrap; */
  row-gap: 1.675rem;
} 

@media (max-width: 64em) {
  .faq-main--third .faq-accordions {
    flex-direction: column;
  }
}

.faq-main--third .accordions-wrap {
  display: flex;
  flex-direction: column;
  row-gap: inherit;
}

.faq-main--third .accordion {
  background-color: var(--clr-neutral-100);
  border-radius: var(--radius-200);
  padding: 2rem 3.125rem;
}

.faq-main--third .accordion--selected .accordion__desc {
  margin-top: .75rem;
  padding-bottom: .125rem;
}

.faq-main--third .accordion-toggle {
  background-color: var(--clr-neutral-200);
  width: 2.5rem;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  border-radius: .5rem;
}

.faq-main--third .accordion-toggle__icon {
  width: 1.125rem;
  stroke-width: 0.1875rem;
  stroke: var(--clr-neutral-600);
}

.faq-main--third .accordion--selected .accordion-toggle {
  background-color: var(--clr-primary-100);
}

.faq-main--third .accordion--selected .accordion-toggle__icon {
  stroke: var(--clr-neutral-100);
}