.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-100);
  padding: 1.75rem 2rem;
  box-shadow: 0 0.75rem 1.5rem
      hsla(
        var(--clr-bxshadow-300-h),
        var(--clr-bxshadow-300-s),
        var(--clr-bxshadow-300-l),
        4%
      ),
    0 -0.125rem 0.25rem hsla(var(--clr-bxshadow-300-h), var(--clr-bxshadow-300-s), var(--clr-bxshadow-300-l), 2%),
    0 0.1875rem 0.875rem
      hsla(
        var(--clr-bxshadow-100-h),
        var(--clr-bxshadow-100-s),
        var(--clr-bxshadow-100-l),
        3%
      );
  margin-bottom: 2.375rem;
}

.faq-header__button {
  line-height: 1.125rem;
  padding: 1rem 1.75rem;
  background-color: var(--clr-secondary-100);
  border-radius: 100dvw;
}

.faq-main {
  background-color: var(--clr-neutral-200);
  display: grid;
  place-items: center;
}