.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-100);
  padding: 1.75rem 2rem;
  box-shadow: 0 0.75rem 1.5rem
      hsla(
        var(--clr-bxshadow-300-h),
        var(--clr-bxshadow-300-s),
        var(--clr-bxshadow-300-l),
        4%
      ),
    0 -0.125rem 0.25rem hsla(var(--clr-bxshadow-300-h), var(--clr-bxshadow-300-s), var(--clr-bxshadow-300-l), 2%),
    0 0.1875rem 0.875rem
      hsla(
        var(--clr-bxshadow-100-h),
        var(--clr-bxshadow-100-s),
        var(--clr-bxshadow-100-l),
        3%
      );
  margin-bottom: 2.375rem;
}

.faq-header__button {
  line-height: 1.125rem;
  padding: 1rem 1.75rem;
  background-color: var(--clr-secondary-100);
  border-radius: 100dvw;
}

.faq-main {
  background-color: var(--clr-neutral-200);
  display: grid;
  place-items: center;
}

@media(max-width: 35em) {
  .faq-header {
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.5rem .5rem;
  }
}

.accordion {
  cursor: pointer;
  transition: all 0.1s;
}

.accordion__desc {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.accordion--selected .accordion__desc {
  margin-top: 0.375rem;
  opacity: 1;
  max-height: 8rem;
}

.accordion-toggle {
  transition: all 0.15s;
}

.faq-accordions {
  transition: all 0.25s;
}

.faq-main-navigators {
  display: grid;
  width: min(100%, 36.96875rem);
  grid-template-columns: repeat(auto-fill, minmax(11.125rem, 1fr));
  gap: 1.5rem;
}

.navigator {
  background-color: var(--clr-neutral-100);
  border: 0.0625rem solid var(--clr-neutral-400);
  aspect-ratio: 178 / 68;
  border-radius: var(--radius-100);
  transition: background-color ease 0.15s, color ease 0.15s, border ease 0.15s;
}

.navigator--selected {
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
  border: none;
}

.accordion-toggle {
  margin-left: 1rem;
}

/* Card */

.card {
  border-radius: 2.5rem;
  box-shadow: 0 0.75rem 1.5rem
    hsla(
      var(--clr-bxshadow-100-h),
      var(--clr-bxshadow-100-s),
      var(--clr-bxshadow-100-l),
      6%
    );
    display: flex;
    flex-direction: column;
}

.card--white {
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-300);
}

.card--blue {
  background-color: var(--clr-primary-100);
  border: none;
}

.card-texts {
  padding: 5rem 3.6875rem 1.25rem 3.6875rem;
}

@media (max-width: 64em){
  .card-texts {
    padding-inline: 1.5rem;
  }
}

.card__heading {
  margin-top: 1.25rem;
  margin-bottom: 0.675rem;
}

.card__cta {
  cursor: pointer;
  margin-top: 1.25rem;
  display: flex;
  width: max-content;
  border-radius: 100vw;
  line-height: 1.25rem;
  padding: 1.25rem 2.5rem;
  font-weight: var(--fw-bold);
}

.card--blue .card__cta {
  background-color: var(--clr-neutral-100);
}

.card--white .card__cta {
  background-color: #ff2d46;
}

.card-image {
  max-width: 100%;
  overflow: hidden;
  place-items: center;
  display: flex;
}

.card-image__img {
  object-fit: cover;
  object-position: center top;
  /* width: min(100%, 43.75rem); */
  width: 100%;
  /* height: min(100%, 33.75rem); */
  height: 100%;
}

.card--white .card-image__img {
  object-position: top right;
}
