:root {
    /* Font Sizing */
    --fs-heading-100: 3.25rem;
    --fs-heading-200: 2.125rem;
    --fs-heading-300: 1.5rem;
    --fs-heading-400: 1.375rem;
    --fs-heading-500: 1.125rem;
    --fs-heading-600: 1rem;
    --fs-paragraph-100: .9375rem;
    --fs-paragraph-200: 1.125rem;
    --fs-paragraph-300: 1.5rem;
  
    /* Font Families */
    --ff-english: "DM sans", sans-serif;
  
    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
  
    /* Colors */
    --clr-primary-100: #4A3AFF;
  
    --clr-secondary-100: #F3F1FF;
  
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F7F7FB;
    --clr-neutral-300: #EFF0F6;
    --clr-neutral-400: #D9DBE9;
    --clr-neutral-500: #A0A3BD;
    --clr-neutral-600: #6F6C90;
    --clr-neutral-700: #514F6E;
    --clr-neutral-800: #170F49;
  
    /* Layout */
    --page-block-padding: 8.75rem;
    --page-inline-padding: 6.1875rem;
    --page-minimum-padding: 1.5rem;
    --page-layout-width: 1440px;
  
    /* Border Radius */
    --radius-100: .875rem;
    --radius-200: 1.125rem;
    --radius-300: 1.25rem;
    --radius-400: 2.5rem;
}